body {
    color: chocolate;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#cabecera {
    border-radius: 5%;
    border-color: black;
    padding: 10;
    color: rgb(3, 255, 66);
}

p {
    color:crimson;
}