body {
    color: chocolate;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#cabecera {
    border-radius: 5%;
    border-color: black;
    padding: 10;
    color: blue;
}